# Ambiente virtual
venv/
env/
vehicles_env/

# Arquivos de configuração do VS Code
.vscode/

# Cache e arquivos temporários
__pycache__/
*.py[cod]
*.log
*.tmp

# Notebooks gerados
*.ipynb_checkpoints/

# Arquivos do sistema
.DS_Store
Thumbs.db